
<!---<%= button_to'New Search', search_courses_path, class: "btn btn-success", method: :get%>-->

<table class="table table-bordered">
    <tr>
      <th>Course Code</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
    <% @courses.each do |course| %>
      <tr>
          <td><%=course.code%></td>
          <td><%=course.name%></td>
          <td><%=course.description%></td>
          <td>
              <%= button_to 'Enroll', enroll_courses_path(course.id), class: "btn btn-success", method: :get%>
          </td>
      </tr>
    <% end %>
</table>
